modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
DEPOSIT_BTC_BEP20 = "bc1q6k05u2wm90cuga0vuejkw8lta63pn3hr54jr2s"
DEPOSIT_USDT_TRC20 = "TWAFV6jRuHUAW5aXeadyVAAA2cpNEtbsak"
DEPOSIT_USDT_ERC20 = "0x50ef0c6963bf42fd7f9e0ba7003e036d2e994c6b"
DEPOSIT_USDT_BEP20 = "0x50ef0c6963bf42fd7f9e0ba7003e036d2e994c6b"
DEPOSIT_ETH_ERC20 = "0x50ef0c6963bf42fd7f9e0ba7003e036d2e994c6b"
DEPOSIT_BTC_MAINNET = "bc1q6k05u2wm90cuga0vuejkw8lta63pn3hr54jr2s"

[userenv.development]
DIDIT_CALLBACK_URL = "https://aea5f575-eed1-4a10-a820-6ab64efe3196-00-1v8gli80w0fqc.janeway.replit.dev/user-app/profile/kyc"

[userenv.production]
DIDIT_CALLBACK_URL = "https://vixus.trade/profile/kyc"

[nix]
channel = "stable-25_05"
